In [16]:
import pandas as pd

import calendar
import datetime

In [17]:
# import data
data = pd.read_csv('TSURVOBS.csv',sep=",")
data.head(len(data))

            name      generation_time         eng_value
0       TSURVOBS  1476590820691062500          *NO VAL*
1       TSURVOBS  1476590836691062500  15.9514170040486
2       TSURVOBS  1476590932691062500  15.9109311740891
3       TSURVOBS  1476590948691062500  15.9514170040486
4       TSURVOBS  1476591476691062500  15.9919028340081
...          ...                  ...               ...
314091  TSURVOBS  1579592216687156250         17.085020
314092  TSURVOBS  1588257256933250000         15.991903
314093  TSURVOBS  1588257432933250000         15.951417
314094  TSURVOBS  1588263000933250000         16.072874
314095  TSURVOBS  1588263432933250000         16.032389

[314096 rows x 3 columns]

In [18]:
# sorting date of data by generation time 
# เรียงลำดับข้อมูลใหม่ตามเวลา
data.sort_values(by=['generation_time'], inplace=True)
data.head(len(data))

            name      generation_time           eng_value
80012   TSURVOBS                    0            *NO VAL*
259284  TSURVOBS                    0            *NO VAL*
218887  TSURVOBS                    0            *NO VAL*
218890  TSURVOBS                    0            *NO VAL*
248108  TSURVOBS                    0            *NO VAL*
...          ...                  ...                 ...
96018   TSURVOBS  4294967295937156250            6.634615
96772   TSURVOBS  4294967295937156250  17.004048582995953
96876   TSURVOBS  4294967295937156250           17.004049
80295   TSURVOBS  4294967295937156250            *NO VAL*
198727  TSURVOBS  4294967295937156250           15.910931

[314096 rows x 3 columns]

In [19]:
data.head(96019)

            name      generation_time           eng_value
80012   TSURVOBS                    0            *NO VAL*
259284  TSURVOBS                    0            *NO VAL*
218887  TSURVOBS                    0            *NO VAL*
218890  TSURVOBS                    0            *NO VAL*
248108  TSURVOBS                    0            *NO VAL*
...          ...                  ...                 ...
92758   TSURVOBS  1522620000937156250           16.113360
92663   TSURVOBS  1522620512937156250  16.072874493927124
92759   TSURVOBS  1522620512937156250           16.072874
92760   TSURVOBS  1522621280937156250           16.113360
92664   TSURVOBS  1522621280937156250   16.11336032388664

[96019 rows x 3 columns]

In [20]:
# ลบ generatioin_time = 0

# Get names of indexes for which column generation_time has value 0
indexNames = data[data['generation_time']==0].index

# Delete these row indexes from dataFrame
data.drop(indexNames, inplace=True)
data.head(len(data))

            name      generation_time           eng_value
53001   TSURVOBS   315964817413718750            *NO VAL*
53002   TSURVOBS   315964833413718750            2.788462
53003   TSURVOBS   315964865413718750            2.756410
53004   TSURVOBS   315964929413718750            2.724359
53005   TSURVOBS   315964993413718750            2.692308
...          ...                  ...                 ...
96018   TSURVOBS  4294967295937156250            6.634615
96772   TSURVOBS  4294967295937156250  17.004048582995953
96876   TSURVOBS  4294967295937156250           17.004049
80295   TSURVOBS  4294967295937156250            *NO VAL*
198727  TSURVOBS  4294967295937156250           15.910931

[314083 rows x 3 columns]

In [21]:
# remove duplicte values by generation_time  ลบค่าซ้ำ
# data.drop_duplicates(subset ="generation_time", keep = False, inplace = True)
data.drop_duplicates(inplace = True)
data.head(len(data))

            name      generation_time           eng_value
53001   TSURVOBS   315964817413718750            *NO VAL*
53002   TSURVOBS   315964833413718750            2.788462
53003   TSURVOBS   315964865413718750            2.756410
53004   TSURVOBS   315964929413718750            2.724359
53005   TSURVOBS   315964993413718750            2.692308
...          ...                  ...                 ...
198608  TSURVOBS  4294967295937156250  15.910931174089068
96018   TSURVOBS  4294967295937156250            6.634615
96772   TSURVOBS  4294967295937156250  17.004048582995953
96876   TSURVOBS  4294967295937156250           17.004049
198727  TSURVOBS  4294967295937156250           15.910931

[242491 rows x 3 columns]

In [22]:
len(data)

242491

In [23]:
# convert eng_value str type to float type
data['eng_value'] = pd.to_numeric(data['eng_value'], errors='coerce')

# convert generation_time str type to float type
data['generation_time'] = pd.to_numeric(data['generation_time'], errors='coerce')

# remove nan
data.dropna(inplace = True)
data

            name      generation_time  eng_value
53002   TSURVOBS   315964833413718750   2.788462
53003   TSURVOBS   315964865413718750   2.756410
53004   TSURVOBS   315964929413718750   2.724359
53005   TSURVOBS   315964993413718750   2.692308
163082  TSURVOBS   315965057413718750  10.526316
...          ...                  ...        ...
198608  TSURVOBS  4294967295937156250  15.910931
96018   TSURVOBS  4294967295937156250   6.634615
96772   TSURVOBS  4294967295937156250  17.004049
96876   TSURVOBS  4294967295937156250  17.004049
198727  TSURVOBS  4294967295937156250  15.910931

[242074 rows x 3 columns]

In [24]:
# summarize nan
data.isnull().sum()

name               0
generation_time    0
eng_value          0
dtype: int64

In [25]:
# reset index
data.reset_index(inplace=True)

In [26]:
data.head(33)

     index      name     generation_time  eng_value
0    53002  TSURVOBS  315964833413718750   2.788462
1    53003  TSURVOBS  315964865413718750   2.756410
2    53004  TSURVOBS  315964929413718750   2.724359
3    53005  TSURVOBS  315964993413718750   2.692308
4   163082  TSURVOBS  315965057413718750  10.526316
5   110399  TSURVOBS  315965057413718750   7.275641
6   110400  TSURVOBS  315965313413718750   7.179487
7   163083  TSURVOBS  315965313413718750  10.364372
8   110401  TSURVOBS  315965569413718750   7.115385
9   163084  TSURVOBS  315965569413718750  10.202429
10  163085  TSURVOBS  315965825413718750  10.121457
11  110402  TSURVOBS  315965825413718750   7.083333
12  163086  TSURVOBS  315966081413718750  10.000000
13  110403  TSURVOBS  315966081413718750   7.019231
14  163087  TSURVOBS  315966337413718750   9.967949
15  163088  TSURVOBS  315966593413718750   9.903846
16  110404  TSURVOBS  315966593413718750   6.987179
17  163089  TSURVOBS  315966849413718750   9.871795
18  110405  TSURVOBS  315966849413718750   6.955128
19  163090  TSURVOBS  315967105413718750   9.839744
20  110406  TSURVOBS  315967105413718750   6.923077
21  163091  TSURVOBS  315967361413718750   9.775641
22  110407  TSURVOBS  315967361413718750   6.891026
23  110408  TSURVOBS  315967617413718750   6.794872
24  163092  TSURVOBS  315967617413718750   9.743590
25  110409  TSURVOBS  315967873413718750   6.730769
26  163093  TSURVOBS  315967873413718750   9.679487
27  110410  TSURVOBS  315968129413718750   6.666667
28  163094  TSURVOBS  315968129413718750   9.615385
29  110411  TSURVOBS  315968385413718750   6.570513
30  163095  TSURVOBS  315968385413718750   9.519231
31  163096  TSURVOBS  315968641413718750   9.455128
32  110412  TSURVOBS  315968641413718750   6.506410

In [27]:
# convert julian date to UTC

import julian
import datetime

data['UTC']=0
for i in range(len(data)):
    data['UTC'][i] = datetime.datetime.fromtimestamp(int(data['generation_time'][i])/1e9).strftime('%Y-%m-%d %H:%M:%S.%f')
data

/Users/gistda/opt/anaconda3/envs/TimeSeries/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/gistda/opt/anaconda3/envs/TimeSeries/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,index,name,generation_time,eng_value,UTC
0,53002,TSURVOBS,315964833413718750,2.788462,1980-01-06 07:00:33.413719
1,53003,TSURVOBS,315964865413718750,2.756410,1980-01-06 07:01:05.413719
2,53004,TSURVOBS,315964929413718750,2.724359,1980-01-06 07:02:09.413719
3,53005,TSURVOBS,315964993413718750,2.692308,1980-01-06 07:03:13.413719
4,163082,TSURVOBS,315965057413718750,10.526316,1980-01-06 07:04:17.413719
...,...,...,...,...,...
242069,198608,TSURVOBS,4294967295937156250,15.910931,2106-02-07 13:28:15.937156
242070,96018,TSURVOBS,4294967295937156250,6.634615,2106-02-07 13:28:15.937156
242071,96772,TSURVOBS,4294967295937156250,17.004049,2106-02-07 13:28:15.937156
242072,96876,TSURVOBS,4294967295937156250,17.004049,2106-02-07 13:28:15.937156
242073,198727,TSURVOBS,4294967295937156250,15.910931,2106-02-07 13:28:15.937156

In [28]:
print(data.dtypes)

index                int64
name                object
generation_time      int64
eng_value          float64
UTC                 object
dtype: object

In [29]:
# convert UTC str type to datetime type
data['UTC'] = pd.to_datetime(data['UTC'])

In [30]:
print(data.dtypes)

index                       int64
name                       object
generation_time             int64
eng_value                 float64
UTC                datetime64[ns]
dtype: object

In [31]:
data

,index,name,generation_time,eng_value,UTC
0,53002,TSURVOBS,315964833413718750,2.788462,1980-01-06 07:00:33.413719
1,53003,TSURVOBS,315964865413718750,2.756410,1980-01-06 07:01:05.413719
2,53004,TSURVOBS,315964929413718750,2.724359,1980-01-06 07:02:09.413719
3,53005,TSURVOBS,315964993413718750,2.692308,1980-01-06 07:03:13.413719
4,163082,TSURVOBS,315965057413718750,10.526316,1980-01-06 07:04:17.413719
...,...,...,...,...,...
242069,198608,TSURVOBS,4294967295937156250,15.910931,2106-02-07 13:28:15.937156
242070,96018,TSURVOBS,4294967295937156250,6.634615,2106-02-07 13:28:15.937156
242071,96772,TSURVOBS,4294967295937156250,17.004049,2106-02-07 13:28:15.937156
242072,96876,TSURVOBS,4294967295937156250,17.004049,2106-02-07 13:28:15.937156
242073,198727,TSURVOBS,4294967295937156250,15.910931,2106-02-07 13:28:15.937156

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

plt.figure(figsize=(20,15))
plt.scatter(data['UTC'][100:150],data['eng_value'][100:150])
# plt.scatter(data['UTC'],data['eng_value'])
plt.xlabel('Time')

In [ ]:
# data[100:150]

In [ ]:
print(data['UTC'][0].month)
print(type(data['UTC'][0].second))

In [ ]:
from datetime import  timedelta

data = data.append({'index':345,
             'name':'TH',
             'eng_value':0.0,
             'generation_time': 89878,
             'UTC':data['UTC'][len(data)-1] + timedelta(hours=1)},ignore_index=True)

# data = data.append({'index':345,
#              'name':'TH',
#              'eng_value':0.0,
#              'generation_time': 89878,
#              'UTC':data['UTC'][len(data)-1] + timedelta(hours=1)})

# data['UTC'][len(data)+2] = data['UTC'][len(data)-1] + timedelta(hours=1)
data

In [ ]:
# fine start & end date
# from datetime import  timedelta
start_date = data['UTC'][0]
# sp =split(start_)
end_date = data['UTC'][len(data)-1]
# +1 เพราะต้องการสร้าง ชม เกินมา 1 ชม เพื่อใช้วน loop หาค่า avg ช่วงสุดท้าย

In [ ]:
start_date

In [ ]:
end_date

In [ ]:
type(start_date.year)

In [ ]:
dt = datetime.datetime(start_date.year, start_date.month, start_date.day, start_date.hour, start_date.minute, start_date.second )

In [ ]:
dt

In [ ]:
import datetime

# start_date = data['UTC'][0]
# end_date = data['UTC'][-1]
# dt = datetime.datetime(start_date.year, start_date.month, start_date.day, start_date.hour, start_date.minute, start_date.second )

dt = datetime.datetime(start_date.year, start_date.month, start_date.day, start_date.hour)
end = datetime.datetime(end_date.year, end_date.month, end_date.day, end_date.hour , end_date.minute, end_date.second) 
# dt = datetime.datetime(2010, 12, 1, 3, 9, 9)
# end = datetime.datetime(2010, 12, 30, 23, 59, 59)
# end = datetime.datetime(2020, 3, 20, 17)
step = datetime.timedelta(minutes=60)

result = []
# print(dt)
while dt < end:
    result.append(dt.strftime('%Y-%m-%d %H:%M:%S'))
    dt += step

In [ ]:
# result

In [ ]:
print(len(result))
# print(result[0])
# print(result[-1])
# print(type(result[-1]))

In [ ]:
# import datetime

# date_time_str = '2018-06-29 08:15:27.243860'
# date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')


# date_time_str = '2018-06-29 08:15:27'
# date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')
# print(type(date_time_obj))
# print(date_time_obj.year)
# print('Date:', date_time_obj.date())
# print('Time:', date_time_obj.time())
# print('Date-time:', date_time_obj)

In [ ]:
df = pd.DataFrame(result, columns=['date'])
df

In [ ]:
data_fit = {'date': [], 'avg': [], 'max':[], 'min':[]}
data_fit = pd.DataFrame(data=data_fit)
data_fit

In [ ]:
       
n = 0
for i in range(len(result)):
    date_new = result[i]
#     print('-----------------------------------------------------------------------------------------------------------------')
    date_new = datetime.datetime.strptime(date_new, '%Y-%m-%d %H:%M:%S')
#     print(date_new)
#     data_fit = data_fit.append({'date':date_new},ignore_index=True) # ใช้แจ้ง anomaly ได้
    engvalue_tot = []  # engvalue_tot ใช้เก็บข้อมูลที่มี ชม เดียวกัน
    for j in range(n, len(data)):
        date_data = data['UTC'][j]
        if date_data.year == date_new.year  and date_data.month == date_new.month and date_data.day == date_new.day and date_data.hour == date_new.hour:
#             print('n = ',n)
#             print(date_data)
            engvalue_tot.append(data['eng_value'][j])
#             print(engvalue)
            n = n+1
        else:
            
            if engvalue_tot != []:
#                 print(date_new)
#                 print('TOT = ',engvalue_tot )
                average = sum(engvalue_tot) / len(engvalue_tot)
#                 print('avg = ',average)
#                 print('MAX = ', max(engvalue_tot))
#                 print('MIN = ', min(engvalue_tot))
                
                data_fit = data_fit.append({'date':date_new,'avg':average, 
                                    'max':max(engvalue_tot),
                                    'min':min(engvalue_tot)},ignore_index=True)
#                                 data_fit = data_fit.append({'date':date_new,
#                                     'avg':average, 
#                                     'max':max(engvalue_tot),
#                                     'min':min(engvalue_tot)},ignore_index=True)
            else:
                engvalue_tot=0
#                 print('TOT = ',engvalue_tot )
                data_fit = data_fit.append({'date':date_new,'avg':0, 
                                    'max':0,
                                    'min':0},ignore_index=True)
            break
#         else:
#             average = sum(engvalue) / len(engvalue)
#             print(average)

In [ ]:
data_fit.head(40)

In [ ]:
data_fit['avg']

In [ ]:
plt.figure(figsize=(20,6))
plt.scatter(data_fit['date'],data_fit['avg'])
# plt.scatter(data_fit['date'],data_fit['max'])
# plt.scatter(data_fit['date'],data_fit['min'])
# plt.legend([PC, line], ['AVG', 'MAX','MIN'])